*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

.topo {
    height: 50px;
    background-color: #353535;
}

.topoint {
    width: 1000px;
    margin:auto;
    color: #FFFFFF;
}

.logomarca {
    float:left;
    font-size:24px ;
    line-height: 50px;
}   

.menu{
    float:right;
}

.menu ul {
    margin:0;
    padding: 0;
    list-style: none;
}

.menu li {
    margin:0;
    padding-left: 10px; 
    padding-right: 10px;
    list-style: none;
    float: left;
    line-height: 50px;
    font-size: 14px;
    cursor:pointer;
}

.menu li:hover {
    background-color: #3480c1;
}

.banner{
    height: 300px;
    background-color: #347aba;
}

.bannerint{
    width: 1000px;
    margin:auto;
}